*{
    margin:0;
    padding:0;
}


/* boxmodel의 가로 길이를 총 510px로 하고 싶을 때 
padding을 p 태그에 적용시키면 width를 수정하지 않아도 된다.
 이렇게 할 수 있는 이유는 p태그에 width 길이를 
 지정하지 않았기 때문이다. */
.boxmodel {
    width:500px;
    margin: 100px auto;
    border: 5px solid red;
}

.boxmodel p {
    padding: 20px;
    /* width 값을 설정하지 않았기 때문에 padding 값을 줘봤자 
    더할 값이 없어서 가로 총 길이가 늘어나지가 않는다. 
    */
}


/* 하지만 boxmodel 하위의 태그가 1개 이상일 경우 자식 태그들에게 모두 padding값을 주어야 하기 때문에 box-sizing 속성을 사용하면 이 문제를 해결할 수 있다. */
.boxmodel2 {
    width:500px;
    margin: 100px auto;
    border: 5px solid powderblue;
    padding: 20px;
    box-sizing: border-box;
    /* box-sizing: content-box; */
    /* 변하지 않도록 지정한 크기가 width까지 일 때 content-box 값을, 
        border 까지 일 때는 border-box 값으로 설정하면 된다. */
}
