body {
    font-family: tahoma, sans-serif;
    font-size: 12px;
}


/* transition 은 (100px 에서 400px로) 전환되는 과정을 보여주는 속성이다. */
.photo img {
    width: 100px;
    opacity:0;
    /* 방식1. 풀어 쓰기
    * width가 100에서 400으로 바꾸는 과정을 보여주게 하기 + margin도 왼쪽에 100px 값 추가하기.
    transition-property:width margin-left; 
    transition-duration: 2s;
    
    * 마우스를 갖다 댄 후 바로 바뀌는 것이 아니라 1초 딜레이 걸어놓기
    transition-delay:1s;
    
    * 전환되는 속도를 조절하기
    transition-timing-function: ease;
    
    *   ease : 느리다. 
        ease-in: 
        ease-in-out: 
    */


    /* 방식2. 위의 네 가지 transition 을 한 줄로 합쳐 쓰기 
    transition: 
        width 2s 1s ease-in-out,
        margin-left 2s 1s ease-in;  */

    /* 방식3. width와 margin-left를 all이라고 하면 한 줄로 쓸 수 있다. */
    /* transition: all 2s 1s ease-in-out; */
    
    /* 방식4. cubic bezier */
    transition: all 1s cubic-bezier(.82,.24,.76,1.34);


}

.photo img:hover {
    width: 400px;
    margin-left:100px;
    opacity: 1;
}