body {
    font-family: '돋움', dotum, helvetica, sans-serif;
    font-size: 12px;
}
/*** 다루게 될 text style 속성 1
font-weight
text-decoration
text-align
*/

h1{
    font-size: 3em;
    font-weight : 900;
    /* text-decoration: line-through; */
    text-decoration: overline;
    letter-spacing: 16px;    /* px, em, rem  사용 가능 */

}

/* 이탤릭체로 강조한 것을 바로 세운 글씨체로 바꾸기 */
em, address {
    font-style: normal;
}

/* 이탤릭체 효과 주기 */
del {
    font-style: oblique; /* oblique = italic */
}

/* 기본적으로 왼쪽 정렬로 되어있는 것을 다른 정렬로 바꿔보기 */
.left {
    text-align: left;
    word-spacing: 10px;
}
.center {
    text-align: center;
    line-height: 27px;
}
.right {
    text-align: right;
}


/* span 태그는 일반적으로 inline 이라서 줄바꿈이 아니고 한 줄 안에 다 들어간다. */
.etc {
    text-align: right;
}


/*** 다루게 될 text style 속성 2
글의 간격 : letter-spacing, word-spacing, line-height

letter-spacing : 글자 하나 하나 사이 사이의 간격을 조정함. 
word-spacing : 단어와 단어 사이의 간격을 조정함.
line-height
*/

/* 빨간 박스 안의 가운데에 위치하도록 하기. */
h2 {
    width:300px;
    border:2px solid red;
    height: 60px;
    text-align: center;
    line-height: 60px;
}
