* {
    margin: 0;
    padding: 0;
}

body {
    width: 600px;
    background-image: url(img/bg.png);
    background-repeat: no-repeat;

    font-size: 12px;
    text-align: justify;
    line-height: 1.6;


    /* background-attachment의 기본 값은 scroll 이다.  스크롤을 내리면 background image가 당연히 안보이게 된다.*/
    background-attachment: fixed;
    background-position: center center; /* 그림을 가운데에 위치하도록 하기*/

}

.bg {
    margin: 20px;
}